/* ./src/input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'NewYork';
    src: url('/fonts/NewYork.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Regular'), url('/fonts/georgia.woff') format('woff');
}

@font-face {
    font-family: 'Oregon Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Oregon Regular'), url('/fonts/oregon.ttf') format('ttf');
}
